# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# MuJoCo compiled files
*.mjb

# Logs / temp
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Plots / outputs (optional)
outputs/
